@model HotelProject.WebUI.Models.Setting.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayoutController1/_AdminLayout.cshtml";
}

<h1>Profil Bilgileri ve Şifre Güncellemeleri</h1>

<form method="post">
    <label>Adınız</label>
    <input type="text" class="form-control" asp-for="Name"/>
    <br />
    <label>Soyadınız</label>
    <input type="text" class="form-control" asp-for="Surname" />
    <br />
    <label>Mailiniz</label>
    <input type="text" class="form-control" asp-for="Email" />
    <br />
    <label>Kullanıcı Adınız</label>
    <input type="text" class="form-control" asp-for="Username" readonly />
    <br />
    <label>Şifreniz</label>
    <input type="password" class="form-control" asp-for="Password" />
    <span asp-validation-for="Password" class="text-warning"></span>
    <br />
    <label>Şifreyi Doğrula</label>
    <input type="password" class="form-control" asp-for="ConfirmPassword" />
    <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
    <br />
    <button class="btn btn-success">Bilgileri Güncelle</button>
</form>