@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayoutController1/_AdminLayout.cshtml";
}

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th>Başlık 1</th>
        <th>Başlık 2</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AboutID</td>
            <td>@item.Title1</td>
            <td>@item.Title2</td>
            <td><a href="/AboutAdmin/UpdateAbout/@item.AboutID" class="btn mb-1 btn-rounded btn-outline-primary">Güncelle</a></td>
        </tr>
    }

</table>

