@model UpdateRoomDto
@{
    ViewData["Title"] = "UpdateRoom";
    Layout = "~/Views/AdminLayoutController1/_AdminLayout.cshtml";
}

<form method="post" asp-controller="AdminRoom" asp-action="UpdateRoom">
    <input type="hidden" asp-for="RoomID" name="RoomID"/>
    <label>Oda Numarası</label>
    <input type="text" asp-for="RoomNumber" name="RoomNumber" class="form-control" />
    <br />
    <label>Oda Başlığı</label>
    <input type="text" asp-for="Title" name="Title" class="form-control" />
    <br />
    <label>Fiyat</label>
    <input type="text" asp-for="Price" name="Price" class="form-control" />
    <br />
    <label>Yatak Odası Sayısı</label>
    <input type="text" asp-for="BedCount" name="BedCount" class="form-control" />
    <br />
    <label>Banyo Sayısı</label>
    <input type="text" asp-for="BathCount" name="BathCount" class="form-control" />
    <br />
    <label>Oda Kapak Fotoğrafı</label>
    <input type="text" asp-for="RoomCoverImage" name="RoomCoverImage" class="form-control" />
    <br />
    <label>Açıklama</label>
    <input type="text" asp-for="Description" name="Description" class="form-control" />
    <br />
    <label>WİFİ</label>
    <input type="text" asp-for="Wifi" class="form-control" />
    <br/>
    <button class="btn mb-1 btn-rounded btn-outline-primary">Odayı Güncelle</button>
</form>