@model AdminMailViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayoutController1/_AdminLayout.cshtml";
}

<form method="post" asp-controller="AdminMail" asp-action="Index">
    <label>Alıcı Mail Adresi</label>
    <input type="text" class="form-control" asp-for="ReceiverMail" />
    <br />
    <label>Konu</label>
    <input type="text" class="form-control" asp-for="Subject" />
    <br />
    <label>Mesajınız</label>
    <textarea class="form-control" rows="5" asp-for="Content"></textarea>
    <br />
    <button class="btn btn-primary">Maili Gönder</button>
</form>